/* Estilos para el pop-up de historial */
.history-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.history-popup-content {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 85%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  color: #000;
}

.history-popup-content h2 {
  margin-top: 0;
}

.history-popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
