.timer-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin-top: 10px;
}

.timer-progress {
  position: absolute;
  height: 100%;
  background-color: #ff0000; /* Color rojo vibrante */
  width: 0%;
  transition: width 0.1s linear;
}

@keyframes blink {
  0% {
    background-color: #ff0000; /* Rojo vibrante */
  }
  25% {
    background-color: #ff7f00; /* Naranja fuerte */
  }
  50% {
    background-color: #ffff00; /* Amarillo intenso */
  }
  75% {
    background-color: #ff7f00; /* Naranja fuerte */
  }
  100% {
    background-color: #ff0000; /* Rojo vibrante */
  }
}

.blink {
  animation: blink 1s infinite; /* Tiempo de ciclo más largo para una transición más suave */
}
