.timer-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin-top: 10px;
}
.timer-progress {
  position: absolute;
  height: 100%;
  background-color: #ff2a00; /* Color de la barra de progreso */
  width: 0%;
  transition: width 0.1s linear;
}
