.timer-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin-top: 10px;
}
.timer-progress {
  position: absolute;
  height: 100%;
  background-color: #ff2a00; /* Color de la barra de progreso */
  width: 0%;
  transition: width 0.1s linear;
}
@keyframes blink {
  0% {
    background-color: #ff2a00; /* Rojo */
  }
  25% {
    background-color: #ff6347; /* Tomate */
  }
  50% {
    background-color: #ff2a00; /* Rojo */
  }
  75% {
    background-color: #ff6347; /* Tomate */
  }
  100% {
    background-color: #ff2a00; /* Rojo */
  }
}

.blink {
  animation: blink 1s infinite;
}
