/* src/components/Layout.css */
.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-main {
  flex: 1;
}
.layout-footer {
  flex-shrink: 0;
}
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  background-color: #002361;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 2px rgb(0 0 0 / 6%);
}
.menu-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header-top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header-flashbet-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.header-flashbet-logo {
  padding: 10px;
  height: 26px;
  width: 26px;
  box-shadow: 0px 4px 2px rgb(0 0 0 / 6%);
  border-radius: 50px;
  background: #001849;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-flashbet {
  position: relative;
}
.header-flashbet-text {
  margin: 0;
  font-size: 11px;
  color: #ffffff;
  text-decoration: none;
}
.logo-container {
  display: flex;
  align-items: center;
  background: #001849;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  justify-content: center;
}

.logo {
  height: 15px;
}

.menu-text {
  font-size: 11px;
  margin: 0;
  color: #acacac;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
  p {
    margin: 0;
  }
}

.user-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.session-text,
.session-time {
  font-size: 10px;
  color: #6c757d;
}

.extra-info {
  display: flex;
  align-items: flex-end;
  background: #001849;
  flex-direction: column;
  padding: 2px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
}

.extra-content {
  margin: 0;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.layout-footer {
  background-color: #002361;
  padding: 7px 3px;
  border-top: 1px solid #dee2e6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.footer-logo {
  padding: 8px;
  height: 15px;
  width: 15px;
  box-shadow: 0px 4px 2px rgb(0 0 0 / 6%);
  border-radius: 50px;
  background: #001849;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.footer-link:hover {
  color: #ffffff; /* Change color on hover */
}
.footer-text {
  margin: 0;
  font-size: 11px;
}
.logo-footer {
  height: 15px;
}
.new-label {
  background-color: #ff0000;
  color: #ffffff;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 5px;
  position: absolute;
  animation: bounce 2s infinite;
  left: 31px;
  top: -6px;
}
.flashbits-link {
  position: relative;
}
/* Animación de salto */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
