/* src/components/Layout.css */

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  background-color: #002361;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 2px rgb(0 0 0 / 6%);
}

.header-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
  background: #001849;
  width: 43px;
  height: 43px;
  border-radius: 50px;
  justify-content: center;
}

.logo {
  height: 25px;
}

.menu-text {
  font-size: 11px;
  margin: 0;
  color: #acacac;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  p {
    margin: 0;
  }
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.session-text,
.session-time {
  font-size: 11px;
  color: #6c757d;
}

.extra-info {
  display: flex;
  align-items: flex-end;
  background: #001849;
  flex-direction: column;
  padding: 4px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

.extra-content {
  margin: 0;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-main {
  flex: 1;
  padding: 20px;
}

.layout-footer {
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
