.card__content-header-container {
  display: flex;
  align-items: center;
}
.card__content-header-icon {
  color: #555;
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 20px;
    height: 20px;
  }
}
.card__content-header {
  color: #555;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}
