.cards-container{
  height: 65vh;
  min-height: 565px;
  padding: 0 7%;
  margin: 10px 0;
}

.timer-conatainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
