.cards-container {
  height: 65vh;
  min-height: 533px;
  max-height: 533px;
  padding: 0 7%;
  max-width: 500px; 
  margin: 10px auto;
}

.timer-conatainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
